﻿
@{
    ViewBag.Title = "Login";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginBtn').click(function () {
                alert('clicked alerted')
                $.ajax({
                    type:'POST',
                    url: 'http://localhost:61847/token',
                    //contentType: 'application/json',
                    data:{
                        username:$('#usernameTxt').val(),
                        password: $('#passwordTxt').val(),
                        grant_type: 'password'
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (ex) {
                        console.log(ex)
                    }

                });
            });
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="usernameTxt" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="passwordTxt" placeholder="Password">
                        </div>
                        <button id="LoginBtn" type="button" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

