﻿
@{
    ViewBag.Title = "Register";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#RegisterBtn').click(function () {
                $.ajax({
                    type:'POST',
                    url: 'http://localhost:61847/api/account/register',
                    dataType: 'json',
                    data:{
                        Email:$('#EmailTxt').val(),
                        Password: $('#PasswordTxt').val(),
                        ConfirmPassword: $('#ConfirmPasswordTxt').val()
                    },
                    success: function (data) {
                    },
                    error: function (ex) {
                        console.log(ex)
                    }
                    
                });
            });
        });
    </script>
 }
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="EmailTxt" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="PasswordTxt" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="ConfirmPasswordTxt" placeholder="Confirm Password">
                        </div>
                        <button type="button" id="RegisterBtn" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

